.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--gray-100);
}

.content {
    margin-left: 230px;
    padding: 1px 16px;
} 

.containerEmployee {
    display: flex;
    border-radius: 0.4rem;
    background-color: var(--white);
    padding: 0.8rem;
    align-items: flex-start; 
    margin-bottom: 1rem;
    flex-direction: column;
}

.createEmployee {
    padding: 0 0 40px 0;
    width: 100%;

    h2 {
        margin-bottom: 10px;
    }

    hr {
        color: rgba(0,0,0,0.3);
    }

    h3 {
        margin: 8px 0 5px 0;
        font-size: 1.4rem;
        font-weight: 500;
    }

    input {
        width: 100%;
        background-color: var(--gray-100);
        margin-bottom: 1rem;
        padding: 0.7rem;
        border: 0;
        border-radius: 0.4rem;
        max-width: 600px;
    }

    button {
        max-width: 600px;
        width: 100%;
        height: 40px;
        font-size: 20px;
        border: 0;
        border-radius: 0.4rem; 
        color: var(--white);
        background-color: var(--dark-700);
    }
}

.listEmployee {
    width: 100%;
    height: 300px;
    max-height: 330px;
    padding: 0.8rem;
    border-radius: 0.4rem;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.15);
    background-color: rgb(232, 232, 232);
    
    h2 {
        color: rgb(65, 65, 65);
    }

    hr {
        color: rgba(0,0,0,0.2);
    }
}

.listContainer {
    max-height: 250px;
    overflow-y: auto;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    hr {
        color: rgba(0,0,0,0.1);
        height: 0;
    }

    strong {
        font-weight: 500;
        color: #1a1a1a;
        margin-right: 4px;
    }

    span {
        color: rgb(96, 96, 96);
        margin: 1px 0;
    }
}